{% extends 'base.html' %}

{% block title %}
Sample Page title
{% endblock %}

{% block headerimg %}
<div class="page-header-image" style="background-image: url('https://app.creative-tim.com/argon_placeholder/ill/p8.svg')"></div>
<!--<div class="page-header-image" style="background-image: url('assets/images/stetho.jpg')"></div>-->
<!--<div class="page-header-image" style="background-image: url('https://app.creative-tim.com/argon_placeholder/ill/p8.svg')"></div>-->
{% endblock %}

{% block header %}
HEADER BOILERPLATE TEXT
{% endblock %}

{% block miniheader %}
Something Amazing
{% endblock %}

{% block content %}
<p>As a result of growing greenhouse gas emissions, climate models predict that our planet will get significantly warmer, that ecosystems will be changed or destroyed, and that enormous human and economic costs will be incurred. 
These scenarios aren&rsquo;t guaranteed, but avoiding them will be very hard. 
We&rsquo;re trying to take small steps to mitigate our impact.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut 
vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat 
faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc. 
Phasellus bibendum turpis ut ipsum egestas, sed sollicitudin elit convallis. 
Cras pharetra mi tristique sapien vestibulum lobortis. Nam eget bibendum metus, 
non dictum mauris. Nulla at tellus sagittis, viverra est a, bibendum metus.</p>
{% endblock %}